body {
font-family: Arial, sans-serif;
background-color: #f3f3f3;
margin: 0;
padding: 0;
}
header {
background-color: #3c0189;
color: white;
text-align: center;
padding: 15px;
}
#datahora {
font-size: 14px;
color:#eedf13;
text-align: end;
}
main {
max-width: 700px;
margin: 30px auto;
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgb(125, 74, 169);
}
h2 {
color: #3c0189;
}
label {
font-weight: bold;
}
input, select, button {
padding: 8px;
margin: 5px 0 15px 0;
width: 100%;
border-radius: 5px;
border: 1px solid #ccc;
}
button {
background-color: #822acf;
color: white;
font-weight: bold;
cursor: pointer;
}
button:hover {
background-color: #9b5ae1;
}
button:disabled {
background-color: #9378a4;
cursor: not-allowed;
}

.resultado {
background: #eef;
border: 1px solid #822acf;
padding: 10px;
border-radius: 8px;
margin-top: 15px;
}